@font-face {
    font-family: "Deansgate";
    src: url('../Fonts/DeansgateCondensed-Bold.ttf');
}

body {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    background: transparent;
    padding: 0px;
    margin: 0px;
}


.absol {
    position: absolute;
}

.mirror {
    position: absolute;
    transform: scaleX(-1);
}

.singlesClip {
    width: 1920px;
    height: 1080px;
}
.dubsClip {
    width: 1920px;
    height: 1080px;
    clip: rect(100px, 960px, 700px, 0px);
}

.mirrorP2 {
    position: absolute;
    transform: scaleX(-1);
    top: 0px;
    right: 0px;
    z-index: 3;
}

#bgImgs {
    filter: grayscale(.7);
    z-index: -3;
}

#imgBGP1 {
    clip: rect(0px, 960px, 1080px, 0px);
}
#imgBGP2 {
    clip: rect(0px, 1920px, 1080px, 960px);
}
#imgBGP3 {
    clip: rect(540px, 960px, 1080px, 0px);
}
#imgBGP4 {
    clip: rect(540px, 1920px, 1080px, 960px);
}


#textBGP1 {
    bottom: -30px;
    left: 0px;
    z-index: 14;
}

#textBGP2 {
    bottom: -30px;
    right: -2px;
    z-index: 14;
}


.character {
    position: absolute;
    width: 1920px;
    height: 1080px;
    object-fit: scale-down;
}

.chara {
    opacity: 1;
}

#charP1, #charP2 {
    z-index: 3;
}
#charP2 {
    z-index: 4;
}
#charP3, #charP4 {
    clip: rect(540px, 960px, 1080px, 0px);
    z-index: 3;
}

#topRow {
    position: absolute;
    width: 1920px;
}
#botRow {
    position: absolute;
    width: 1920px;
    top: 410px;
}


.wrappers {
    position: absolute;
    font-family: "Deansgate";
    text-align: center;
    white-space: nowrap;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
    opacity: 1;
    z-index: 15;
}

.wrappersSingles {
    transform: rotate(-3deg);
    width: 940px;
    height: 120px;
    bottom: 60px;
    line-height: 90px;
}
.wrappersDoubles {
    width: 300px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p1WSingles {
    left: 10px;
}
.p2WSingles {
    right: 10px;
}

.p1WDub {
    top: 50px;
    left: 40px;
    transform: rotate(-5deg);
}
.p2WDub {
    top: 50px;
    right: 40px;
    transform: rotate(5deg);
}
#p3Wrapper {
    bottom: 50px;
    left: 40px;
    transform: rotate(5deg);
}
#p4Wrapper {
    bottom: 50px;
    right: 40px;
    transform: rotate(-5deg);
}

.name {
    color: white;
}

.tag {
    color: lightgray;
}


.teamName {
    position: absolute;
    width: 690px;
    height: 90px;
    top: 495px;
    font-family: "Deansgate";
    white-space: nowrap;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
    opacity: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#teamNameL {
    left: 25px;
}
#teamNameR {
    right: 25px;
}


.roundInfo {
    position: absolute;
    text-align: center;
    font-family: "Deansgate";
    white-space: nowrap;
}

#round {
    width: 420px;
    height: 100px;
    left: 750px;
    top: 120px;
    color: rgb(65, 65, 65);
    line-height: 75px;
}

#tournament {
    width: 640px;
    height: 120px;
    left: 640px;
    top: 25px;
    color: rgb(65, 65, 65);
    line-height: 90px;
}



#casterInfo {
    position: absolute;
    width: 1920px;
    opacity: 0;
}

.caster {
    position: absolute;
    width: 300px;
    height: 70px;
    top: 130px;
    text-align: center;
    font-family: "Deansgate";
    color: black;
    line-height: 70px;
    white-space: nowrap;
}

#caster1 {
    left: 765px;
}

#caster2 {
    right: 765px;
}


.socialBox {
    position: absolute;
    width: 170px;
    height: 30px;
    top: 162px;
    text-align: center;
    font-family: "Deansgate";
    color: rgb(65, 65, 65);
    line-height: 26px;
    white-space: nowrap;
}
.twitterIcon {
    height: 19px;
    width: 19px;
    fill: rgb(65, 65, 65);
    transform: translate(0px, 2px);
}
.twitchIcon {
    height: 17px;
    width: 17px;
    fill: rgb(65, 65, 65);
    transform: translate(0px, 1px);
}

#twitter1Wrapper, #twitter2Wrapper {
    opacity: 0;
}
#twitch1Wrapper, #twitch2Wrapper {
    opacity: 0;
}

#twitter1Wrapper, #twitch1Wrapper {
    left: 765px;
}
#twitter2Wrapper, #twitch2Wrapper {
    right: 765px;
}



#scores {
    position: absolute;
    width: 1920px;
}

.scoreTick {
    position: absolute;
    top: 212px;
    fill: #414141;
}

#scoreL-1 {
    left: 924px;
}
#scoreL-2 {
    left: 896px;
}
#scoreL-3 {
    left: 866px;
}

#scoreR-1 {
    right: 924px;
    transform: scaleX(-1);
}
#scoreR-2 {
    right: 896px;
    transform: scaleX(-1);
}
#scoreR-3 {
    right: 866px;
    transform: scaleX(-1);
}

#scoreBorder {
    top: 209px;
    left: 862px;
}
